
body { padding:0px; margin:0px;}
ul{ padding:0px; margin:0px;}
li{ padding:0px; margin:0px;}



#foot_main{
background-color:black;
height:500px;
}
#foot_menu{
height:60px;
}

#foot_menu ul li{
position:relative;
float:left;
left:18%;
margin:40px 8% 0px 8%;
font-size:20px;
color:white;
list-style:none;
line-height:30px;
}

#menu_bottom1{
display:inline-block;
position:absolute;
left:25%;
font-size:14px;
margin-top:30px;

}

#menu_bottom1 ul li{
list-style:none;
color:#D8D8D8;
text-align:center;
list-style:none;
margin-bottom: 8px;
}

#menu_bottom2{
display:inline-block;
position:absolute;
font-size:14px;
left:46%;
margin-top:30px;
}

#menu_bottom2 ul li{
list-style:none;
color:#D8D8D8;
text-align: center;
list-style:none;
margin-bottom: 8px;
}

#menu_bottom3{
display:inline-block;
position:absolute;
left:66%;
font-size:14px;
margin-top:30px;

}

#menu_bottom3 ul li{
color:#D8D8D8;
text-align: center;
list-style:none;
margin-bottom: 8px;
}
#logo_main{
position:absolute;
left:45%;
}
#logo_main img{
margin:50px 2px;
}

#message{
position:absolute;
color:#989897;
text-align: center;
margin:120px 0px 0px 39%;
}

