@charset "UTF-8";

/* font */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

* {
	font-family: 'Noto Sans KR', sans-serif;

}

/* login */

* {
  box-sizing: border-box;
  border-radius: 0px;
  margin: 0;
  padding: 0;

} 


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/member/login3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	
}

.loginForm{
    width: 300px;
    background-color: #EEEFF1;
    margin:auto;
    padding: 20px;
    text-align: center;
    border: none;
	vertical-align: middle;
    align-items: center;
    justify-content: center;
	
}
 
.textField {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 260px;
      margin-bottom: 10px;
}
 
.submitBtn {
  font-size: 14px;
  border: none;
  padding: 10px 10px 10px 10px;
  width: 260px;
  background-color: #56F569;
  margin-bottom: 20px;
  color: #000000;
}
 
.links {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

input .checkbox {
    text-align: center;
    align-items: center;
    font-size: 14px;  
    
}

span,label{
    font-size: 13px;
    position: relative;
    padding:3px;
    margin-bottom:1px;
}
 
form .loginFormin {
	margin-bottom: 5px;
	
} 
 
/*비번찾기 회원가입하기 버튼*/ 
input[type="button" i] {
  font-size:13px;
  color: #000000;
  border: 0px; 
  margin-top:5px; 
  cursor: pointer;
}



/* join*/


.join{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/member/login4.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	
}

.joinForm {
    width: 300px;
    background-color: #EEEFF1;
    margin:auto;
    padding: 20px;
    text-align: center;
    border: none;
	vertical-align: middle;
    align-items: center;
    justify-content: center;
	
}
 
.textField {
      font-size: 14px;
      padding: 10px;
      border: none;
      width: 260px;
      margin-bottom: 10px;
}
 
 
.CheckBtn {
  font-size: 14px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  width: 100px;
  background-color: #c0c0c0;
  margin-bottom: 30px;
  color: #000000;
  cursor: pointer;
}
  
.gender{
  font-size:13px;
  color: #000000;
}



