@charset "UTF-8";
/* font */
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

* {

	font-family: 'Noto Sans KR', sans-serif;
	margin: 0px;
	padding: 0px;

}



.tit-ko {
    font-size: 32px;
    font-weight:590;
    margin:0px 0px 0px 100px; 
}
.tit-area{
	 font-size: 22px;	   
}
.tit-en1{
font-size: 18px;
 margin:0px 0px 0px 100px;
}

.header_info p {
    word-break: break-all;
    margin:10px 0px 20px 0px;
         
}
span{
	padding:0px 0px 0px 40px;
}

 .header_tab{
	margin-top: 4px;
	border-top: 1px solid #d2d2d2;


}
.item-tit{
	font-size: 18px;
	 font-weight:500;
}	
.tab-cont{
	margin-left:120px;
    padding: 0;
    list-style: none;
   
}
ul li button{
	float:left;  
	font-size:20px; 
    font-weight:80px;
    margin-left:40px;
    width:100px;
    background-color: white;
    border:0;
    outlineL0;
    
}

#image{
float:left;
margin:50px 0px 0px 0px; 
}
#image img{
margin:40px 0px 0px 100px;
position:absolute;
left:100px;
}
.basic-txt {
	position:0px 20px 0px 40px;
	width: 100%;
    margin:0px 200px 0px 500px;
    padding: 50px 50px;
    margin-top: 4px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    justify-content: center;
    font-size: 18px;
    line-height: 50px;
    display: flex;
   font-weight: 1000;  
}

.info-detail{
	 margin:500px 0px 0px 300px;
	 font-size: 14px;
	 width:720px;
}
.btn3{
  padding: 3px 3px;
  margin:2px 2px;
  color: #000000;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}
.btn3::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left:55px;
  width: 50%;
  height: 3px;
  background: #56F569 ;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(0, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0, 0, 0, 1)
}

.btn3:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}




	/* 글 내용의 경계선 표시 */
	.text {
    font-size: 22px;
    margin:0px 200px 0px 120px; 
    border-bottom: 1px solid #d2d2d2;
}
	.content{
	  	margin-top: 100px;
		border: 1px dotted #cecece;
	}
	/* 글 내용안에 있는 이미지의 크기 제한 */
	.content img{
		max-width: 100%;
	}
	/* 댓글에 관련된 css */
	.comments ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	.comments ul li{
		border-top: 1px solid #888; /* li 의 윗쪽 경계선 */
	}
	.comments dt{
		margin-top: 5px;
	}
	.comments dd{
		margin-left: 26px;
	}
	.comments form textarea, .comments form button{
		float: left;
	}
	.comments li{
		clear: left;
	}
	.comments form textarea{
		width: 85%;
		height: 100px;
	}
	.comments form button{
		width: 15%;
		height: 100px;
	}
	/* 댓글에 댓글을 다는 폼과 수정폼을 일단 숨긴다. */
	.comment form{
		display: none;
	}
	.comment{
		position: relative;
	}
	.comment .reply_icon{
		width: 8px;
		height: 8px;
		position: absolute;
		top: 10px;
		left: 30px;
	}
	.comments .user-img{
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}


/* 레이아웃 외곽 너비 400px 제한*/
.wrap{
    max-width:100%;
    margin-left:300px;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.reviewform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.review_rating{
	clear: both;
}
.rating{
	height: 60px;
	width: 300px;
}
.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-image: url('../images/star.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
    background-color: #56F569;
}

.warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.cmd{
    margin-top: 20px;
    text-align: right;
    margin-right: 5%;
}
.cmd input[type="button"]{
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    background-color:#000;  
    color: #fff;
}